<div class="base">
    <img class="logo" src="assets\img\gitlab-logo-700.png" alt="My Image">
    <nav>
        <ul class="nav__links">
            <li>
                <a [routerLink]="['/listado']" routerLinkActive="active">
                    Listado
                </a>

            </li>
            <li>
                <a [routerLink]="['/crear']">
                    Crear
                </a>

            </li>
           
        </ul>
    </nav>
    <a class="cta">
        <button>
            Cerrar Sesion
        </button>
    </a>
</div>