<div class="fondo">
    <div class="cont-form">
        <div class="info-per">
            <h3 class="tituloPer">
                Let's get in touch
            </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi hic sunt est rerum, nesciunt nulla.
                Aliquid, rem incidunt ipsam perferendis neque perspiciatis eius ullam quibusdam debitis eos odit aperiam
                voluptas?</p>
            <div class="info">
                <div class="information">
                    <p></p>
                </div>
                <div class="information">
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <p></p>
                </div>
                <div class="information">
                    <img src="" alt="">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="form-per">
            <span class="circulo one"></span>
            <span class="circulo two"></span>

            <form autocomplete="off" class="formulario" [formGroup]="formularioCrear">
                <h3 class="titulo">Registrar Cliente</h3>
                <div class="input-container">
                    <input class="inputsito" type="text" formControlName="nombre" placeholder=" ">
                    <label class="labelsito">Nombre</label>
                </div>

                <div class="input-container">
                    <input class="inputsito" type="text" formControlName="apellido" placeholder=" ">
                    <label class="labelsito">Apellido</label>
                </div>
                <div class="input-container">
                    <input class="inputsito" type="email" formControlName="email" placeholder=" ">
                    <label class="labelsito">Email</label>
                </div>
                <input type="submit" value="Send" class="btn">
            </form>
        </div>
    </div>
</div>