<div class="fondo">
    <div class="cont-form">
        <div class="info-per">
            {{formularioCrear.get('nombre')!.errors| json}}
            <br>
            {{formularioCrear.get('apellido')!.errors| json}}
            <br>
            {{formularioCrear.get('email')!.errors| json}}
            <div class="info">
                <div class="information">
                    <p></p>
                </div>
                <div class="information">
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <p></p>
                </div>
                <div class="information">
                    <img src="" alt="">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="form-per">
            <span class="circulo one"></span>
            <span class="circulo two"></span>

            <form autocomplete="off" class="formulario" [formGroup]="formularioCrear">
                <h3 class="titulo">Registrar Cliente</h3>
                <div class="input-container">
                    <input class="inputsito" type="text" formControlName="nombre" placeholder=" ">
                    <label class="labelsito">Nombre</label>
                    <div *ngIf="formularioCrear.controls['nombre'].invalid && (formularioCrear.controls['nombre'].dirty || formularioCrear.controls['nombre'].touched)"
                        class="alert">
                        <div *ngIf="formularioCrear.controls['nombre'].errors?.['required']">
                            Este campo es obligatorio*
                        </div>
                        <div *ngIf="formularioCrear.controls['nombre'].errors?.['alpha']">
                            No se permiten numeros
                        </div>
                        <div *ngIf="formularioCrear.controls['nombre'].errors?.['minlength']">
                            Minimo 4 caracteres
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <input class="inputsito" type="text" formControlName="apellido" placeholder=" ">
                    <label class="labelsito">Apellido</label>
                    <div *ngIf="formularioCrear.controls['apellido'].invalid && (formularioCrear.controls['apellido'].dirty || formularioCrear.controls['apellido'].touched)"
                        class="alert">
                        <div *ngIf="formularioCrear.controls['apellido'].errors?.['required']">
                            Este campo es obligatorio*
                        </div>
                        <div *ngIf="formularioCrear.controls['apellido'].errors?.['alpha']">
                            No se permiten numeros
                        </div>
                        <div *ngIf="formularioCrear.controls['apellido'].errors?.['minlength']">
                            Minimo 4 caracteres
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <input class="inputsito" type="email" formControlName="email" placeholder=" ">
                    <label class="labelsito">Email</label>
                    <div *ngIf="formularioCrear.controls['email'].invalid && (formularioCrear.controls['email'].dirty || formularioCrear.controls['email'].touched)"
                        class="alert">
                        <div *ngIf="formularioCrear.controls['email'].errors?.['required']">
                            Este campo es obligatorio*
                        </div>
                        <div *ngIf="formularioCrear.controls['email'].errors?.['email']">
                            Escribe un correo valido
                        </div>

                    </div>
                </div>
                <input type="submit" value="Send" class="btn" (click)="validarCampo()">
            </form>
        </div>
    </div>
</div>