<footer class="base">
    <div class="footer">
        <div class="container-footer">
            <div class="redes-sociales">
                <p>Siguenos</p>

                <div class="redes-sociales-container">
                    <div class="btn-red facebook">
                        <a target="_blank" class="mr-2">
                            <i class="fab fa-facebook"> </i></a>
                    </div>
                    <div class="btn-red twitter">
                        <a target="_blank" class="mr-2">
                            <i class="fab fa-twitter"> </i></a>
                    </div>

                    <div class="btn-red instagram">
                        <a target="_blank" class="mr-2">
                            <i class="fab fa-instagram"> </i></a>
                    </div>

                </div>

            </div>

            <div class="text-mid">
                <p>© Desarrollado por LaRata420</p>
            </div>

            <div class="text-side">
                <a class="logo">
                    <img src="assets\img\gitlab-logo-700.png" alt="logo" />
                </a>
            </div>
        </div>
    </div>


</footer>